backend/templates/landing_page.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xertica SmartFiles</title>
    <meta name="description" content="Control total sobre la propiedad y permisos empresariales para los documentos alojados en Google Drive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_square_192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#606467">
    <meta name="apple-mobile-web-app-title" content="SmartSignature">
    <link rel="apple-touch-icon-precomposed" href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_square_120.png">
    <meta name="msapplication-TileImage" content="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_144.png">
    <meta name="msapplication-TileColor" content="#606467">
    <link rel="shortcut icon" href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_32.png">
    <link href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/css/landingPage.css" rel="stylesheet">
    <script src="/static/js/landingApp.js"></script>
    <script>
      var google_conversion_id = 1006168864;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      
    </script>
  </head>
  <body>
    <div id="home" class="cont-gen">
      <header id="header" class="header">
        <div class="wrapper">
          <h1 class="cont-logo col1"><a href="/" title="Xertica SmartSignature"><img src="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF.svg" alt="SmartSignature" class="logo-app"></a></h1>
          <nav id="nav" class="main-menu col2"><i id="icon-menu" class="icon-menu mdi mdi-menu"></i>
            <ul>
              <li class="active"><a href="#description">Inicio</a></li>
              <li><a href="#benefits">Beneficios</a></li>
              <li><a href="#features">Recomendaciones</a></li>
              <li><a href="#about_us">Xertica</a></li>
              <li><a href="https://sites.google.com/a/xertica.com/xertica-smartfiles/" target="_blank">Documentación</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="banner" class="cont-ban">
        <div class="wrapper">
          <div class="banner col1"><img src="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_square_white.svg" alt="Banner - Xertica SmartSignature"></div>
          <div class="col2 description">
            <p class="message"><b>Xertica SmartFiles</b> para el control total sobre la propiedad y permisos empresariales para los documentos alojados en Google Drive</p>
            <form id="formDomain" method="GET" onsubmit="tenantSubmit(event, this)" class="enter-to-app">
              <label>Entra con tu dominio:</label>
              <div class="cont-search">
                <input id="domain" type="text" placeholder="dominio..." name="domain" pattern="^([a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.){1,3}([a-zA-Z]{2,8})(\.[a-zA-Z]{2,8}){0,2}$" required="required" class="search-domain">
                <button type="submit"><i class="mdi mdi-send"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <main id="main" class="main">
        <div class="wrapper">
          <article class="article">
            <div id="description" class="section">
              <h3>Controla masivamente los permisos para los archivos en Google Drive</h3>
              <div class="col1">
                <p>Con <b>SmartFiles</b> crea procesos para modificar la propiedad o permisos, teniendo la posibilidad de elegir uno o varios archivos y carpetas pertenecientes a un usuario, además si la tarea es recurrente es posible asignar la frecuencia con la cual esta tarea se aplicará </p>
                <p>Permite realizar búsquedas de archivos que han perdido su ubicación en la interfaz de Google Drive, es decir que no se encuentran alojados en ninguna carpeta y tampoco aparecen en la raíz.</p>
              </div>
              <div class="col2"><img src="/static/img/landingPage/img-preview.svg" alt="video"></div>
              <div class="clear"></div>
            </div>
            <div id="benefits" class="section">
              <h3>Beneficios</h3>
              <div class="col0">
                <ul class="list">
                  <li>Control total de los documentos en Google Drive. </li>
                  <li>Permite a la organización modificar los permisos de acceso a los documentos, en cualquier momento. </li>
                  <li>Evita que la organización pierda información cuando las personas se retiran o cambian de área. </li>
                  <li>Limita el acceso a documentos considerados de acceso restringido. </li>
                  <li>Permite recuperar documentos perdidos* de un usuario.</li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div id="features" class="section">
              <h3>Recomendaciones</h3>
              <div class="col0">
                <ul class="list-no">
                  <li>SmartFiles no debería ser utilizado cuando se desea transferir todos los archivos de una cuenta a otra, este proceso se puede realizar mucho mejor desde el panel administrador de G Suite.</li>
                  <li>SmartFiles no puede modificar archivos de cuentas que no pertenezcan al dominio.</li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div id="about_us" class="section">
              <h3>About Us</h3>
              <div class="about col1"><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/XERTICA.svg" alt="Xertica - about us" class="about-company"></div>
              <div class="about col2">
                <p>Ayudamos a compañias latinoamericanas a transformar sus modelos de negocios, experiencia de usuario y procesos operativos para la era digital.</p>
                <p><b>Nuestro equipo está certificado como:</b></p>
                <ul>
                  <li>Especialista en implementación de G Suite.</li>
                  <li>Especialista en ventas de G Suite</li>
                  <li>G Suite for Education Enrenador certificado.</li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
          </article>
        </div>
      </main>
      <footer id="footer" class="footer">
        <div class="efor-layout__footer"><a href="//www.xertica.com" target="_blank" class="efor-footer-credits"><span class="powerby"><span>Powered by</span><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/XERTICA.svg" class="logo"></span></a>
          <p>All rights reserved</p>
          <div class="social-icons"><a href="https://www.linkedin.com/company-beta/10862138/?pathWildcard=10862138" target="_blank" title="Linkedin"><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_linkedin.svg" alt="Linkedin"></a><a href="https://www.facebook.com/Xertica/" target="_blank" title="Facebook"><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_facebook.svg" alt="Facebook"></a><a href="https://twitter.com/Xertica" target="_blank" title="Twitter"><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_twitter.svg" alt="Twitter"></a><a href="https://plus.google.com/u/0/115571953342592665431" target="_blank" title="plus"><img src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_googleplus.svg" alt="Google plus"></a></div>
        </div>
      </footer>
      <!-- Analytics-->
      <script src="//www.google-analytics.com/analytics.js"></script>
      <script src="/static/js/analyticsConfig.js"></script>
    </div>
  </body>
</html>

backend/static/html/landing_page/jade/landing_page.jade
doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Xertica SmartFiles
    meta(name="description", content="Control total sobre la propiedad y permisos empresariales para los documentos alojados en Google Drive")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="icon" sizes="192x192" href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_square_192.png")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#606467")
    meta(name="apple-mobile-web-app-title", content="SmartSignature")
    link(rel="apple-touch-icon-precomposed", href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_square_120.png")
    meta(name="msapplication-TileImage", content="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_144.png")
    meta(name="msapplication-TileColor", content="#606467")
    link(rel="shortcut icon", href="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_isotipo_32.png")
    
    //-css
    link(href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css", rel="stylesheet")
    link(href="/static/css/landingPage.css",rel="stylesheet")

    //- esmg js
    script(src="/static/js/landingApp.js")
    //- script(src="/static/js/validation-login.js")
    script.
      var google_conversion_id = 1006168864;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;

  body
    .cont-gen#home
      header#header.header
        .wrapper
          h1.cont-logo.col1
            a(href="/", title="Xertica SmartSignature")
              img.logo-app(src="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF.svg", alt="SmartSignature")

          nav#nav.main-menu.col2
            i#icon-menu.icon-menu.mdi.mdi-menu
            ul
              li.active: a(href="#description") Inicio
              li: a(href="#benefits") Beneficios
              li: a(href="#features") Recomendaciones
              li: a(href="#about_us") Xertica
              li: a(href="https://sites.google.com/a/xertica.com/xertica-smartfiles/", target="_blank") Documentación

      #banner.cont-ban
        .wrapper
          .banner.col1
            img(src="https://storage.googleapis.com/efor-static/APPS-SUITE/XSF/XSF_square_white.svg", alt="Banner - Xertica SmartSignature")

          .col2.description
            p.message <b>Xertica SmartFiles</b> para el control total sobre la propiedad y permisos empresariales para los documentos alojados en Google Drive

            form#formDomain.enter-to-app(method="GET" , onsubmit="tenantSubmit(event, this)")
              label Entra con tu dominio:
              div.cont-search
                input#domain.search-domain(type="text", placeholder="dominio...", name="domain", pattern="^([a-z0-9][a-z0-9-]{0,61}[a-z0-9]\\.){1,3}([a-zA-Z]{2,8})(\\.[a-zA-Z]{2,8}){0,2}$" required="required")
                button(type="submit"): i.mdi.mdi-send

              //-a.apps-marketplace(href="https://gsuite.google.com/marketplace/app/xertica_smart_signature/189190608654", target="_blank")
                img(src="https://storage.googleapis.com/efor-static/APPS-SUITE/AllApps/logo_google_apps_marketplace.svg", alt="Google Market Place")
                | G Suite Market Place

      main#main.main
        .wrapper
          article.article
            .section#description
              h3 Controla masivamente los permisos para los archivos en Google Drive
              .col1
                p Con <b>SmartFiles</b> crea procesos para modificar la propiedad o permisos, teniendo la posibilidad de elegir uno o varios archivos y carpetas pertenecientes a un usuario, además si la tarea es recurrente es posible asignar la frecuencia con la cual esta tarea se aplicará 
                p Permite realizar búsquedas de archivos que han perdido su ubicación en la interfaz de Google Drive, es decir que no se encuentran alojados en ninguna carpeta y tampoco aparecen en la raíz.

              .col2
                img(src="/static/img/landingPage/img-preview.svg", alt="video")
              .clear
                
            .section#benefits
              h3 Beneficios
              .col0
                ul.list
                  li Control total de los documentos en Google Drive. 
                  li Permite a la organización modificar los permisos de acceso a los documentos, en cualquier momento. 
                  li Evita que la organización pierda información cuando las personas se retiran o cambian de área. 
                  li Limita el acceso a documentos considerados de acceso restringido. 
                  li Permite recuperar documentos perdidos* de un usuario.
              .clear

            .section#features
              h3 Recomendaciones
              .col0
                ul.list-no
                  li SmartFiles no debería ser utilizado cuando se desea transferir todos los archivos de una cuenta a otra, este proceso se puede realizar mucho mejor desde el panel administrador de G Suite.
                  li SmartFiles no puede modificar archivos de cuentas que no pertenezcan al dominio.
              .clear

            .section#about_us
              h3 About Us
              .about.col1
                img.about-company(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/XERTICA.svg", alt="Xertica - about us")
              .about.col2
                p Ayudamos a compañias latinoamericanas a transformar sus modelos de negocios, experiencia de usuario y procesos operativos para la era digital.
                p: b Nuestro equipo está certificado como:
                ul
                  li Especialista en implementación de G Suite.
                  li Especialista en ventas de G Suite
                  li G Suite for Education Enrenador certificado.
              .clear
      
      footer#footer.footer

        .efor-layout__footer
          a.efor-footer-credits(href="//www.xertica.com", target="_blank")
            span.powerby
              span Powered by
              img.logo(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/XERTICA.svg")

          p All rights reserved
          .social-icons

            a(href="https://www.linkedin.com/company-beta/10862138/?pathWildcard=10862138", target="_blank", title="Linkedin")
              img(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_linkedin.svg", alt="Linkedin")
            a(href="https://www.facebook.com/Xertica/", target="_blank", title="Facebook")
              img(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_facebook.svg", alt="Facebook")
            a(href="https://twitter.com/Xertica", target="_blank", title="Twitter")
              img(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_twitter.svg", alt="Twitter")
            a(href="https://plus.google.com/u/0/115571953342592665431", target="_blank", title="plus")
              img(src="https://storage.googleapis.com/efor-static/XERT/LOGOS/social/ico_sites_googleplus.svg", alt="Google plus")

    
      // Analytics
      script(src="//www.google-analytics.com/analytics.js")
      script(src="/static/js/analyticsConfig.js")
